<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="styles/stylesheet.css" />

    <style>
      .flex-container{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.form-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.post-form{
    width: 70%;
}
.card-nav{
    display: flex;
    justify-content: space-between;
}

a{
    color:rgb(70, 109, 164);
}

    </style>
  </head>

  <body>
    <div class="form-container">
      <form class="post-form" action="/change" method="post">
        <h1 class="h3 mb-3 fw-normal">Write a blog</h1>
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTitle"
            name="title"
          ><%= title %></textarea>
          <label for="floatingTitle">Title</label>
        </div>
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea"
            style="height: 20rem;"
            name="content"
          ><%= text %></textarea>
          <label for="floatingTextarea">Content</label>
        </div>
        <button class="btn btn-dark w-100 py-2" type="submit" value=<%= index %> name="id">
          Post
        </button>
      </form>
    </div>

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Blog.io</a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Post</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
