.flex-container{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.form-container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.post-form{
    width: 70%;
}
.card-nav{
    display: flex;
    justify-content: space-between;
}